@font-face {
    font-family: "Bebas Neue";
    src: url("./BEBASNEUE-REGULAR.TTF");
}

* {
    font-family: "Bebas Neue"
}

div#active-header {
    text-align: center;
    font-size: 75px;
    background-color: darkred;
    color: white;
}

div#storm-count {
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
}

div#hurricane-label {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: gray;
}

.hurricane-list-item {
    font-size: 50px;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: left;
    margin-bottom: 20px;
}

.hurricane-headline {
    background-color: rgb(75, 75, 75);
    font-size: 40px;
    text-align: center;
}

.hurricane-update {
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.cone-graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}