@font-face {
    font-family: "Bebas Neue";
    src: url("./BEBASNEUE-REGULAR.TTF");
}

* {
    font-family: "Bebas Neue"
}

body {
    padding-top: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

div#fullscreenNavbar {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    margin-left: 0px;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    max-height: 35px;
    display: none;
}

div#fullscreenNav {
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    position: fixed;
    z-index: 1;
    top: 40px;
    margin-top: 45px;
    text-align: center;
    align-content: center;
    display: block;
    margin-top: 0;
}

a#fullscreenNavButton {
    outline: 5px;
    outline-color: invert;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    white-space: nowrap;
}

a#fullscreenNavButton:hover {
    outline: 5px;
    outline-color: invert;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration-line: underline;
}

div#navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    margin-left: 0px;
    top: 0;
    left: 0;
    z-index: 1;
    align-content: center;
    overflow: hidden;
    max-height: 30px;
}

button#closeNavButton {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 1);
    outline: 5px;
    outline-color: invert;
    color: white;
    border-radius: 2px;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

button#closeNavButton:hover {
    margin-left: 15px;
    background-color: rgb(50, 50, 50);
    outline: 5px;
    outline-color: invert;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    padding: 0px;
    float: left;
    margin-right: 10px;
}

button#mainNavButton {
    margin-left: 15px;
    background-color: black;
    outline: 5px;
    outline-color: invert;
    color: white;
    border-radius: 2px;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0px;
    float: left;
    margin-right: 10px;
}

button#mainNavButton:hover {
    margin-left: 15px;
    background-color: rgb(50, 50, 50);
    outline: 5px;
    outline-color: invert;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    padding: 0px;
    float: left;
    margin-right: 10px;
}

button#navButton {
    padding-top: 10px;
    background-color: black;
    outline: 5px;
    outline-color: invert;
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

button#navButton:hover {
    padding-top: 10px;
    background-color: rgb(50, 50, 50);
    outline: 5px;
    outline-color: invert;
    color: white;
    border: none;
    height: 30px;
    border-radius: 2px;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.no-underline {
    color: white;
    text-decoration: none;
}

.underline {
    color: white;
    text-decoration: underline;
}

div#active-header {
    /* margin-top: 50px; */
    text-align: center;
    font-size: 75px;
    background-color: darkred;
    color: white;
}

div#storm-count {
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
}

@keyframes rotate {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}

img#hurricane-icon {
    animation: rotate 10s infinite linear;
    width: 35px;
}

button#hurricane-label {
    margin-top: 20px;
    font-size: 50px;
    color: white;
    background-color: gray;
    border: none;
    width: 100%;
    text-align: left;
}

button#hurricane-label:hover {
    margin-top: 20px;
    font-size: 50px;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
    width: 100%;
    text-align: left;
}

.hurricane-list-item {
    font-size: 50px;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.hurricane-headline {
    background-color: rgb(75, 75, 75);
    font-size: 40px;
    text-align: center;
}

.hurricane-update {
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.img-button-div {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.img-button {
    width: 30%;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: gray;
    color: white;
    text-align: center;
}

.img-button:hover {
    width: 30%;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    background-color: rgb(70, 70, 70);
    color: white;
}

.hurricane-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/*  Tropical Storms  */

button#storm-label {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: gray;
    border: none;
    width: 100%;
}

button#storm-label:hover {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
    width: 100%;
}

.storm-list-item {
    font-size: 50px;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.storm-headline {
    background-color: rgb(75, 75, 75);
    font-size: 40px;
    text-align: center;
}

.storm-update {
    background-color: black;
    font-size: 20px;
    text-align: center;
}

/*  Tropical Depressions  */

button#depression-label {
    margin-top: 20px;
    font-size: 50px;
    text-align: left;
    color: white;
    background-color: gray;
    border: none;
    width: 100%;
}

button#depression-label:hover {
    margin-top: 20px;
    font-size: 50px;
    text-align: left;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
    width: 100%;
}

.depression-list-item {
    font-size: 50px;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.depression-headline {
    background-color: rgb(75, 75, 75);
    font-size: 40px;
    text-align: center;
}

.depression-update {
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.depression-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Tropical Remnants */

button#remnants-label {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: gray;
    border: none;
    width: 100%;
}

button#remnants-label:hover {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 70);
    border: none;
    width: 100%;
}

.remnant-list-item {
    font-size: 50px;
    background-color: darkred;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.remnant-headline {
    background-color: rgb(75, 75, 75);
    font-size: 40px;
    text-align: center;
}

.remnant-update {
    background-color: black;
    font-size: 20px;
    text-align: center;
}

.remnant-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}